{# Синтаксис комментария #}
{% set title = "Список всех страниц верстки" %}
{% set page = "index" %}
{% set bodyClass = "page-main" %}
{% extends "templates/base.njk" %}

{% block content %}
  <div class="main-page">
    <div class="container">
      <h1>My Mainpage</h1>
      {% if projectName == 'white' %}
        <div>ЭТО ua1 --- {{projectName}}</div>
      {% else %}
        <div>ЭТО LOTOPLAY --- {{projectName}}</div>
      {% endif %}

      <div class="cards">
        <div class="card-item">1</div>
        <div class="card-item">2</div>
        <div class="card-item">3</div>
        <div class="card-item">4</div>
        <div class="card-item">5</div>
        <div class="card-item">6</div>
        <div class="card-item">7</div>
        <div class="card-item">8</div>
      </div>
      <div class="row">
        <div class="col-12">1</div>
        <div class="col-12">2</div>
      </div>
      <div class="row">
        <div class="col-4">1</div>
        <div class="col-4">2</div>
        <div class="col-4">3</div>
        <div class="col-4">4</div>
        <div class="col-4">5</div>
        <div class="col-4">6</div>
      </div>
      <div class="row">
        <div class="col-8">1</div>
        <div class="col-8">2</div>
        <div class="col-8">3</div>
      </div>
    </div>

  </div>
{% endblock %}