{# Синтаксис комментария #}
{% set title = "Список всех страниц верстки" %}
{% set page = "index" %}
{% set bodyClass = "page-main" %}
{% extends "templates/base.njk" %}

{% block content %}
  <main>
    <h1>My2 Mainpage</h1>
  </main>
{% endblock %}