{# {% if projectName == 'ua1' %}
  {% from "data/ua1/_online-casinos.njk" import onlineCasinos %}
  {% from "data/ua1/_casino-cards.njk" import casinoCards %}
{% else %}
  {% from "data/lotoplay/_online-casinos.njk" import onlineCasinos %}
  {% from "data/lotoplay/_casino-cards.njk" import casinoCards %}
{% endif %}
{% from "data/_complaint-cards.njk" import complaintCards %}
{% from "data/_best-casinos.njk" import bestCasinos %}
{% from "data/_articles-news.njk" import articleNews %}
{% from "data/_slots-items.njk" import slotsItems %} #}
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% include "includes/_head.njk" %}
  </head>
  {# {% include "includes/_sprite-svg.njk" %} #}
  <body class="{{bodyClass}}">
    <div class="wrapper-full">
      <header>
        header{# {% include "includes/_header.njk" %} #}</header>
      {% block content %}{% endblock %}
      <footer>
        {# {% include "includes/_footer.njk" %} #}
        <p>footer</p>
      </footer>
    </div>
    <div class="page-overlay" data-type="page-overlay"></div>
  </body>
</html>