body,
html {
  height: 100%;
}
body {
  // color: var(--c0);
  font-size: 1rem;
  line-height: 1.65;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Segoe UI, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  // background-color: var(--c7);
  @if $projectName == 'black' {
    color: var(--c1);
    background-color: var(--c0);
  }
  @if $projectName == 'white' {
    color: var(--c0);
    background-color: var(--c1);
  }
  @if $isDev {
    background: #000;
  }
}

.wrapper-full {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.container,
.wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  color: var(--c0);
}

p {
  color: var(--c0);
}

div[class^='col-'] {
  @if $projectName == 'black' {
    color: var(--c0);
  }
  @if $projectName == 'white' {
    color: var(--c1);
  }
  border: 1px solid var(--c6);
  background-color: var(--c1);
  border-radius: 2px;
  text-align: center;
}
